@use "resets";

$base: #eee;
$mantle: #ccc;
$text: #333;
$highlight: orange;

body {
  background-color: $base;
  color: $text;
  font-family: sans-serif;

  footer {
    background-color: $mantle;
      position: fixed;
      top: 85vh;
      height: 100%;
      overflow: hidden;
      transition: all 1s;

      &.close {
        top: 100%;
        height: 0;
      }
    }
  }
}

nav {
  background-color: $mantle;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;

    a {
      background-color: $mantle;
      display: block;
      padding: 1em;
      color: inherit;
      text-decoration: none;

      &:hover {
        background-color: $highlight;
      }
    }

    li {
      display: inline-block;

      &:hover > ul {
        display: inherit;
      }
    }

    ul {
      display: none;
      position: absolute;

      li {
        float: none;
        display: list-item;
        position: relative;
        width: 15em;
      }
    }
  }
}
