@use "resets";

$light: #97b0b2;
$dark: #405051;

$base: #eee;
$mantle: #ccc;
$text: #333;
$highlight: $light;

body {
  background-color: $base;
  color: $text;
  font-family: sans-serif;

  footer {
    background-color: $mantle;

    h2 {
      color: $dark;
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    #safety-info {
      display: none;
    }

    #safety-popup {
      background-color: inherit;
      position: fixed;
      top: 75vh;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 0.3s;

      &.close {
        top: 100%;
        height: 0;
      }
    }
  }
}

nav {
  background-color: $mantle;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;

    a {
      background-color: $mantle;
      display: block;
      padding: 1em;
      color: inherit;
      text-decoration: none;

      &:hover {
        background-color: $highlight;

        &:has(> img) {
          background-color: initial;
        }
      }

      &:has(> img) {
        padding: 0;
        img {
          max-height: 5em;
        }
      }
    }

    li {
      display: inline-block;

      &:hover > ul {
        display: inherit;
      }
    }

    ul {
      display: none;
      position: absolute;

      li {
        float: none;
        display: list-item;
        position: relative;
        width: 15em;
      }
    }
  }
}
