/*/////////
//General//
/////////*/
@import url('https://api.fonts.coollabs.io/css2?family=Inconsolata');

* {
  box-sizing: border-box;
}

body {
  background-color: #303030;
  font-family: Inconsolata, monospace;
  color: white;
  margin: 0;
  padding: 0;
}

.centered-img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

img, table {
  width: 100%;
}

a {
  color: white;
}

.heading {
  text-align: center;
}

footer {
  font-size: 10pt;
}

.footnote {
  text-decoration: none;
}

.internal-info {
  text-align: center;
  font-size: small;
  color: grey;
}

code {
  background-color: #191919;
  padding: 2px;
  white-space: nowrap;
}

.wrap-code {
  white-space: normal;
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.s-hid {
  display: none;
}

@media screen and (min-width: 700px) {
  .s-hid {
    display: initial;
  }
}

/*/////////////
//Screen Size//
/////////////*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}

/* For tablets, horizontal phones, and vertical 720p and 768p displays: */
@media screen and (min-width: 700px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* For desktops: */
@media screen and (min-width: 1200px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/*/////////
//Sidebar// 
/////////*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #191919;
  position: relative;
  height: auto;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  text-align: center;
  float: none;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4800FF;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar-parent {
  background-color: #2E00AD;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
main {
  margin-left: 0;
  padding: 1px 16px;
  height: auto;
}

@media screen and (min-width: 700px) {
  .sidebar a {
    float: left;
  }
}

@media screen and (min-width: 1200px) {

  /* The side navigation menu */
  .sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
  }

  .sidebar a {
    float: none;
    text-align: left;
  }

  main {
    margin-left: 200px;
  }
}

/*//////////
//GarfRing//
//////////*/
#GarfRing {
  margin: 0 auto;
  padding: 0px;
  /* creates some space around the widget */
}

#GarfRing table {
  background-color: #303030;
  /* makes the background pure white */
  margin: 0 auto;
  /* centers the widget */
}

#GarfRing table tr td {
  padding: 15px;
  /* creates some space between the links and text inside the widget */
}

#GarfRing .webring-prev {
  text-align: right;
}

#GarfRing .webring-info {
  text-align: center;
}

#GarfRing .webring-next {
  text-align: left;
}

#GarfRing .webring-links {
  font-size: small;
}