/*/////////
//General//
/////////*/
body {
  background-color: #303030;
  font-family: Consolas, monospace;
  color: white;
}

a {
  color: white;
}

/*///////////////
//Page-specific//
///////////////*/
.central-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
}

/*////////
//Tables//
////////*/
table {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.content-table th,
.content-table td {
  padding: 10px 0px 10px 0px;
}

.content-table tr:nth-child(even) {
  background-color: #3f3f3f;
}

.music-table img {
  width: 300px;
  height: 300px;
}

.image-table img {
  width: 400px;
  height: auto;
}

/*/////////////
//Screen Size//
/////////////*/
@media screen and (max-width: 1500px) {
  .image-table img {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 1300px) {
  .image-table img {
    width: 280px;
    height: auto;
  }
}

@media screen and (max-width: 1100px) {
  .image-table img {
    width: 190px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .central-img {
    width: 80%;
    height: auto;
  }

  table {
    max-width: 100%;
  }

  .music-table img {
    width: 250px;
    height: 250px;
  }
  .image-table img {
    width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .image-table img {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .central-img {
    width: 100%;
    height: auto;
  }

  .music-table img {
    width: 130px;
    height: 130px;
  }
  .image-table img {
    width: 110px;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .image-table img {
    width: 90px;
    height: auto;
  }
}

/*/////////
//Sidebar// 
/////////*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #191919;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4800FF;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
  text-align: center;
}

/* On screens that are less than 800px wide, make the sidebar into a topbar */
@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*//////////
//GarfRing//
//////////*/
#GarfRing {
  margin: 0 auto;
  padding: 15px;
  /* creates some space around the widget */
}

#GarfRing table {
  background-color: #303030;
  /* makes the background pure white */
  margin: 0 auto;
  /* centers the widget */
}

#GarfRing table tr td {
  padding: 15px;
  /* creates some space between the links and text inside the widget */
}

#GarfRing .webring-prev {
  text-align: right;
}

#GarfRing .webring-info {
  text-align: center;
}

#GarfRing .webring-next {
  text-align: left;
}

#GarfRing .webring-links {
  font-size: small;
}