<!DOCTYPE html>
<html lang="en">

<head>
  <title>Band Name - Liassica's Site</title>
  <link href="/css/style.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/grszh_icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Band Name">
  <style>
    .album {
      text-align: center;
      font-size: large;
    }
  </style>
</head>

<body>
  <nav>
    <a href="/index.html">Home</a>
    <a href="/posts.html">Posts & Guides</a>
    <a href="/music.html" class="sidebar-parent">Music</a>
    <a href="/music/bandfolder.html" class="active">Band Name</a>
    <a href="/links.html">Links</a>
    <a href="/grszh.html">Grszh Gallery</a>
    <a href="/about.html">About</a>
  </nav>
  <main>
    <h1 class="heading">Band Name</h1>
    <div class="row">
      <div class="col-3 col-s-1"></div>
      <div class="col-6 col-s-10">
        <figure>
          <img src="/images/music/bandfolder/">
          <figcaption></figcaption>
        </figure>
      </div>
      <div class="col-3 col-s-1"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 col-s-12">
        <h2>Albums</h2>
        <h3>Albums by Band Name that I like</h3>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4 col-s-6">
        <figure>
          <img src="/images/music/bandfolder/" alt=" by Band Name">
          <figcaption class="album"><cite></cite></figcaption>
        </figure>
      </div>
      <div class="col-4 col-s-6">
        <figure>
          <img src="/images/music/bandfolder/" alt=" by Band Name">
          <figcaption class="album"><cite></cite></figcaption>
        </figure>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 col-s-1"></div>
      <div class="col-6 col-s-10">
        <h2>Not yet listened</h2>
        <ul>
          <li><cite></cite></li>
        </ul>
      </div>
      <div class="col-3 col-s-1"></div>
    </div>
    <div class="row">
      <div class="col-3 col-s-1"></div>
      <div class="col-6 col-s-10">
        <h2>Don't like</h2>
        <ul>
          <li><cite></cite></li>
        </ul>
      </div>
      <div class="col-3 col-s-1"></div>
    </div>
    <div class="row">
      <div class="col-3 col-s-1"></div>
      <div class="col-6 col-s-10">
        <footer>
          All album covers &#169; their respective music labels or graphic artist(s). Low-resolution covers used solely to help readers understand the content of the page.
          Images are not replaceable by free content, and neither the creator nor the hoster(s) of this site commercially benefit from depicting them.
        </footer>
      </div>
      <div class="col-3 col-s-1"></div>
    </div>
  </main>
</body>

</html>