<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><!-- set automatically, see soupault.toml --></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@csstools/normalize.css"
      type="text/css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <link rel="icon" href="/images/favicon" type="image/png" />
    <script src="/assets/js/main.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">
            <img src="/assets/images/logo.webp" alt="Logo" />
          </a>
        </li>
        <li>
          <a href="/try-nomoxapine/about-nomoxapine">Try Nomoxapine&reg;</a>
          <ul>
            <li>
              <a href="/try-nomoxapine/about-nomoxapine"
                >About Nomoxapine&reg;</a
              >
            </li>
            <li>
              <a href="/try-nomoxapine/how-nomoxapine-works"
                >How Nomoxapine&reg; Works</a
              >
            </li>
            <li>
              <a href="/try-nomoxapine/therapy-comparison"
                >Nomoxapine&reg; vs Conversion Therapy</a
              >
            </li>
            <li><a href="/try-nomoxapine/side-effects">Side Effects</a></li>
            <li>
              <a href="/try-nomoxapine/tv-commercial"
                >Nomoxapine&reg; TV Commercial</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="/taking-nomoxapine/getting-started"
            >Taking Nomoxapine&reg;</a
          >
          <ul>
            <li>
              <a href="/taking-nomoxapine/getting-started">Getting Started</a>
            </li>
            <li>
              <a href="/taking-nomoxapine/dosing-and-administration"
                >Dosing &amp; Administration</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="/nomoxapine-resources/insurance-support"
            >Resources for Patients on Nomoxapine&reg;</a
          >
          <ul>
            <li>
              <a href="/nomoxapine-resources/insurance-support"
                >Insurance Support</a
              >
            </li>
            <li><a href="/nomoxapine-resources/faqs">FAQs</a></li>
            <li>
              <a href="/nomoxapine-resources/testimonials">Testimonials</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <!-- content inserted here -->
    </main>
    <footer>
      <div id="safety-popup">
        <h2>Important Safety Information</h2>
        <h3>What is Nomoxapine&reg;?</h3>
        <p>Nomoxapine&reg; (ventatracin) is a once-daily medicine used:</p>
        <ul>
          <li>
            <p>
              along with social support and therapy, to reduce feelings of
              homosexual thoughts in adolescents and adults
            </p>
          </li>
          <li>
            <p>to reduce the need for frequent conversion therapy sessions</p>
          </li>
        </ul>
      </div>
      <div class="eteros-info"></div>
    </footer>
  </body>
</html>
