*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
dl {
  padding-left: 1em;
}

body footer > div:not(#safety-popup):not(#safety-info), body main article {
  display: grid;
  grid-template-columns: 1fr min(85ch, 100%) 1fr;
}
body footer > div:not(#safety-popup):not(#safety-info) > *, body main article > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1/-1;
}

.side-by-side, body footer #eteros-info ul, body nav ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 640px) {
  .side-by-side, body footer #eteros-info ul, body nav ul {
    flex-direction: row;
  }
}

body {
  background-color: #f9f9f9;
  color: #222;
  font-family: "Merriweather Sans", sans-serif;
}
body nav {
  background-color: #e9e9e9;
}
body nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  align-items: center;
  justify-content: center;
}
body nav ul a {
  background-color: #e9e9e9;
  display: block;
  padding: 1em;
  color: inherit;
  text-decoration: none;
}
body nav ul a:hover {
  background-color: #97b0b2;
}
body nav ul a:hover:has(> img) {
  background-color: initial;
}
body nav ul a:has(> img) {
  padding: 0.5em;
}
body nav ul a:has(> img) img {
  max-height: 5em;
}
body nav ul li {
  display: inline-block;
}
body nav ul li:hover > ul {
  display: inherit;
  z-index: 1;
}
body nav ul ul {
  display: none;
  position: absolute;
}
body nav ul ul li {
  float: none;
  display: list-item;
  position: relative;
  width: 15em;
}
body main article {
  padding: 5em 1em 15em;
}
body main article h1 {
  text-transform: uppercase;
}
body main article button {
  font-size: x-large;
  color: #e9e9e9;
  font-family: inherit;
  background-color: #405051;
  border: solid #405051;
  border-radius: 1em;
  cursor: pointer;
  padding: 1em;
}
body main article div:has(iframe) {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 2em 0;
}
body main article div:has(iframe):after {
  display: block;
  content: "";
  padding-top: 75%;
}
body main article div:has(iframe) iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body main article#homepage-promo {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("/assets/images/promo.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: x-large;
  text-transform: uppercase;
}
body main article#homepage-promo > * {
  padding: 36px;
}
body footer {
  background-color: #e9e9e9;
}
body footer h2 {
  color: #405051;
}
body footer h2 a {
  color: inherit;
  text-decoration: none;
}
body footer #safety-info {
  display: none;
}
body footer #safety-popup {
  background-color: inherit;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
  padding: 0.3em 1.2em;
  top: calc(100vh - 10em);
}
@media screen and (min-width: 640px) {
  body footer #safety-popup {
    padding: 0.5em 2em;
    top: calc(100vh - 7.5em);
  }
}
body footer #safety-popup.close {
  top: 100%;
  height: 0;
}
body footer #eteros-info, body footer #safety-bottom {
  padding: 0 1.2em;
}
@media screen and (min-width: 640px) {
  body footer #eteros-info, body footer #safety-bottom {
    padding: 0 2em;
  }
}
body footer #eteros-info {
  background-color: rgba(64, 80, 81, 0.9);
  color: #e9e9e9;
}
body footer #eteros-info a:link {
  text-decoration: none;
  color: cornflowerblue;
}
body footer #eteros-info a:visited {
  color: mediumorchid;
}
body footer #eteros-info a:hover {
  text-decoration: underline;
}
body footer #eteros-info a:active {
  color: darkorange;
}
body footer #eteros-info ul {
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
body footer #eteros-info img {
  max-width: 6em;
  padding: 0.5em;
}

#comparison table {
  background-color: #e9e9e9;
  border-radius: 1em;
  padding: 1em;
}
#comparison table caption {
  text-align: left;
}
@media screen and (max-width: 640px) {
  #comparison table tr {
    display: flex;
    flex-direction: column;
  }
}
#comparison table tr td:nth-child(1) {
  order: 0;
}
#comparison table tr td:nth-child(2) {
  order: -1;
}
#comparison table tr td:nth-child(3) {
  order: 1;
}
#comparison table tr > * {
  padding: 1em;
  text-align: center;
}
#comparison table tr > *:nth-child(1) {
  background-color: #97b0b2;
}
#comparison table tr > *:nth-child(3) {
  color: #e9e9e9;
  background-color: #405051;
}
#comparison table tr > *:nth-child(1), #comparison table tr > *:nth-child(3) {
  border-radius: 0.5em;
}

.side-by-side {
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  gap: 1em;
  padding-top: 1em;
}
.side-by-side img {
  max-width: 20em;
}

/*# sourceMappingURL=main.css.map */
